<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FluentNHibernateConnection" value="server=(local);Initial Catalog=TeamTimeWarp;Integrated Security=True" />
    <!--<add key="FluentNHibernateConnection" value="server=TeamTimeWarp.db.10078796.hostedresource.com;Initial Catalog=TeamTimeWarp;User ID=TeamTimeWarp;Password=GEA89ete!" />-->
  </appSettings>
</configuration>